header {
  margin-top: -90px;
  background-image: url("../image/header-background.jpeg");

  min-height: 105vh;
  background-repeat: none;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zomato-title {
  font-size: 120px !important;
  color: white;
}
header p {
  font-size: 30px !important;
  color: white;
}

@media only screen and (max-width: 300px) {
  header {
    margin-top: 0px;
  }
  .zomato-title {
    font-size: 50px !important;
  }
  header p {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 800px) {
  .zomato-title {
    font-size: 90px !important;
  }
  header p {
    font-size: 27px !important;
  }
}
@media only screen and (max-width: 440px) {
  .zomato-title {
    font-size: 50px !important;
  }
  header p {
    font-size: 20px !important;
  }
}
