@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

.navbar-nav {
  margin-left: 80%;
}

.modal-footer p {
  margin: 5px auto;
}

.close-form {
  size: 15px;
}

.modal-content p a {
  margin-left: 10px;
  text-decoration: none;
}

.close-toggle {
  font-size: 36px;
}

.zomato-mobile {
  display: none;
}

.navbar-nav a {
  color: white;
  font-size: 20px;
  margin-left: 35px;
  text-decoration: none;
}

.closeform {
  font-size: 30px;
  margin-top: -15px;
}

.navbar-toggler {
  margin-top: 0px;
  border: none;
}

.collapsed {
  margin-top: 0px;
}

.navbar-toggler:focus {
  border: none;
}

.validation-error {
  color: red;
  margin-left: 10px;
}

.modal-header img,
.navbar img {
  height: 15px;
  width: 15px;
}

nav .row {
  width: 99vw;
}
@media only screen and (max-width: 1000px) {
  .navbar-nav {
    margin-left: 5px;
    height: 20vh;
    z-index: 10;
    background: transparent;
  }
  .navbar-toggler-icon {
  }

  .navbar-nav a {
    color: black;
    margin-top: 15px;
    margin-left: 8px;
  }

  .zomato-mobile {
    position: absolute;
    display: inline-block;
    font-family: "Dela Gothic One", cursive;
    font-size: 43px;
    width: auto;
    margin-top: 20px;
    margin-left: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    height: 27vh;
  }
}
@media only screen and (max-width: 500px) {
  .zomato-mobile {
    position: absolute;
    font-size: 33px;
    margin-left: 30%;
  }
  .navbar-nav {
    height: 25vh;
  }
  .modal-dialog {
    margin-top: -30px;
  }
  nav .row {
    width: 100vw;
  }
}

@media only screen and (max-width: 300px) {
  .navbar-nav {
    height: 10vh;
  }

  .zomato-mobile {
    position: absolute;
    font-size: 25px;
    margin-left: 40%;
  }

  header {
    margin-top: -50px;
  }

  .modal-dialog {
    margin-top: 10px;
  }
}
